
/* Téléchargement de la police*/
@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body /* chargement de l'image de fond et application de la police à tous le document*/
{
    background-image: url("bg.png");
    font-family: quicksandregular, Impact, "arial black",sans-sherif;
}

#bloc_page /* definition de la taille de la page et mise en place d'un flex*/
{
    width : 100%;
    margin : auto;
    display : flex;
}

#marge /* creation de la marge*/
{

    border-radius: 10px 5px 10px 5px;
    box-shadow: 5px 5px 6px black;
    background-color: rgb(10,43,88);
    flex :1;
    height : 600px;
}

#corp_cv /*  definition de le taille du titre et de la photo*/
{
    flex : 9;
}



header /* mise en place du titre à coté de la photo*/
{
    margin-left: 20px;
    margin-right: 20px;
    display : flex;   
}

#presentation /*texte centré et en gras */
{
    text-align: center;
    font-weight: bold;
    flex :1;   
}



section /* disposition des blocs*/
{
    display: flex;
    flex-wrap = nowrap;
    justify-content: center;
    align-items : flexstart;
}

#experience, #competence, #formation 
{
    padding: 10px;
}

h2 /* mise en page des textes et en-tete paragraphe */
{
    margin :10px;
    color: navy;
    border: 3px navy solid;
    border-radius: 10px 5px 10px 5px;
    box-shadow: 5px 5px 6px black;
    background-color: rgb(10,43,88);
    background-color: rgba(10,43,88,0.5);
    text-align: center;
}

a /* mise en forme des liens*/
{
    font-weight: bold;
    color: navy;
    text-decoration: none;
}

a:hover /* mise en forme des liens quand on passe la souris dessus*/
{
    text-decoration: underline;
}

a:visited /* mise en forme des liens apres àavoir clicker sur le lien*/
{
    color: navy;
    text-decoration: none;
}


@media screen and (max-width: 1280px) /* suppression de la marge et de la dispostion des blocs pour des résolutions < à 1280px */

{

    #marge

    {

        display: none;

    }

    section
    {
        flex-direction: column;
    }

}